body {
    font-family: Arial, sans-serif;
    background-color: #ffe6f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 400px; /* Setel lebar maksimum container */
    text-align: center;
}

.logo {
    max-width: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 3px solid #fff;
}

.shop-name {
    font-size: 24px;
    font-weight: bold;
    color: #e91e63;
    margin-bottom: 20px;
}

h2 {
    color: #e91e63;
    margin-bottom: 15px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Pusatkan konten form */
    width: 100%;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #e91e63;
    text-align: center;
}

input[type="text"],
input[type="tel"] {
    width: 100%; /* Pastikan lebar input sesuai container */
    max-width: 300px; /* Setel lebar maksimum untuk input */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

button {
    background-color: #e91e63;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Sesuaikan lebar button dengan container */
}

button:hover {
    background-color: #d81b60;
}
